.DS_Store
*.fuse*
*.pth
*.pyc
debug*
.idea/
/checkpoints_pub/
/datasets/
/pretrained_models/
/results/
/models/pytorch_searchsorted/
*/__pycache_/
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc

